#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6rem;
  text-align: center;
}

.Divider{

  border: "none";
  height: 2;
  margin: 0 auto;


}

.angry-grid {
  display: grid; 

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
  gap: 0px;
  height: 100%;
  
}
 
#item-0 {

  background-color: #ffffff; 
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 6;
  
}
#item-1 {

  background-color: #ffffff; 
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 6;
  
}
#item-2 {

  background-color: #ffffff; 
  grid-row-start: 5;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 6;
  
}